
@{
    ViewBag.Title = "Demo";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div id="Content">
    <h1>Danh sach LOGO</h1>
    @*Su dung bootstrap
        *@
    <div class="row">
        <div class="col-md-2" >
            <div class="Logo">
                <span class="title">HOME</span>
            </div>
             </div>
        <div class="col-md-2">
            <div class="Logo">
                <span class="title">HOME</span>

            </div>
        </div>
        <div class="col-md-2">
            <div class="Logo">
                <span class="title">HOME</span>

            </div>
        </div>
        <div class="col-md-2">
            <div class="Logo">
                <span class="title">HOME</span>

            </div>
        </div>
        <div class="col-md-2">
            <div class="Logo">
                <span class="title">HOME</span>

            </div>
        </div>
        <div class="col-md-2">
            <div class="Logo">
                <span class="title">HOME</span>

            </div>
        </div>

    </div>



</div>
@*Css*@
<style>
    #Content {
        height: 500px;
    }
    .title{
        font-size : 15px;
        font-family: 'segoe UI';
         font-weight:bold;
         color:black;
         @*canh chữ  *@
        margin-top:30px;
    }
    .Logo {
        height: 100px;
        background-color: green;
        background-image: url("../Content/images/logo3.jpg");
        background-repeat: no-repeat;
        background-position: center right;
        padding-top: 35px;
        padding-left: 10px;
        transition: 0.5s;
        cursor:pointer;
    }
    .Logo:hover {
        height: 100px;
        background-color: red ;
        background-image: url("../Content/images/logo3.jpg");
        background-repeat: no-repeat;
        background-position: 10px 35px;
        padding-top: 0px;
        transition: 0.5s;
        opacity:0,5;
    }
    
</style>