@using MyWebsite_SaleManagement_.Models
@model Member

@RenderBody()

@*<!DOCTYPE html>
        <html>
        <head>
            <title>The Login-Animated Website Template | Home :: w3layouts</title>
            <meta charset="utf-8">
            <link href="~/Content/css/style1.css" rel="stylesheet" type="text/css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!--webfonts-->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700" rel="stylesheet" type="text/css">
            <!--//webfonts-->
            <meta name="viewport" content="width=device-width" />
            <title>@ViewBag.Title</title>
        </head>
        <body>
            @RenderBody()

            <!-----start-main---->
            <div class="login-form">

                <div class="head">
                    <img src="~/Content/images/mem2.jpg" alt="">

                </div>
                @using (Html.BeginForm())
                {
                    <strong style="font-weight: bold" align="center" color="Orange"> WELCOME TO MY STORE</strong>

                    <hr width="100%" align="center" color="Orange" />

                    @*<strong style="font-weight: bold"> Account :</strong>
    <li>
        <span>Account</span>
        @Html.TextBox("Account")
    </li>
    <li>
        <input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"><a href="#" class=" icon user"></a>
    </li>
    <li>
        <input type="text" class="text" value="Adress" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Adress';}"><a href="#" class=" icon user"></a>
    </li>
    <li>
        <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"><a href="#" class=" icon user"></a>
    </li>
    <div class="sign-up">
        <strong style="font-weight: bold"> Password </strong>
        <li>
            <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
            <input id="checkbox1" type="checkbox" /><strong style="font-weight: bold"> Show</strong>
        </li>
    </div>
    <div class="sign-up">
        <strong style="font-weight: bold">Re-type Password </strong>
        <li>
            <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
            <input id="checkbox1" type="checkbox" /> <strong style="font-weight: bold" font-color="red"> Show</strong>
        </li>
    </div>
    <li>
        <input type="text" class="text" value="Question" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Question';}"><a href="#" class=" icon user"></a>
    </li>
    <li>
        <input type="text" class="text" value="Answer" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Answer';}"><a href="#" class=" icon user"></a>
    </li>

    <div class="p-container">
        <input type="submit" onclick="myFunction()" value="REGISTER NOW">
        <div class="clear"> </div>
    </div>

    <hr width="100%" align="center" color="Orange" />
    <li>
        <input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}"><a href="#" class=" icon user"></a>
    </li>
    <li>
        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
    </li>
    <div class="p-container">
        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember Me</label>
        <input type="submit" onclick="myFunction()" value="SIGN IN">
        <div class="clear"> </div>
    </div>


    <hr width="100%" align="center" color="Orange" />


            }
        </div>

    </body>
    </html>
*@
